img {
  width: 100%;
}
#logo_top {
  max-width: 90%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edead5;
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
  justify-content: space-evenly;
  gap: 5px;
}

main section {
  grid-column: 2/3;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

nav ul button {
  background: transparent;
  border: none;
  display: block;
  min-width: 44px;
  min-height: 44px;
  cursor: pointer;
  font-size: 1rem;
  color: #2677dd;
  margin-right: 4rem;
}

.banner {
  /* padding: 0.5rem; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  font-family: "Abel", sans-serif;
}

.banner p {
  margin-left: 15px;
  margin-right: 15px;
}

a {
  color: #2677dd;
  text-decoration: none;
}

.banner ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

/* Burgermenu knappen skjules ved større skærm---- */

.toggle-btn {
  display: none;
}

h1 {
  text-align: center;
  grid-column: 2/3;
  font-size: 2.5rem;
  color: #3086f5;
}
h2 {
  font-size: 1.5rem;
  color: white;
}
p {
  font-size: 1.1rem;
  color: white;
}
section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  margin: 1.5rem;
}

article {
  border: 2px solid #400d01;
  background-color: #400d01;
  padding: 1.5rem;
}

/* .valgt {
  background-color: #2a5081;
} */

#modal {
  width: 100vw;
  height: 100vh;
  display: fixed;
  background-color: #5d1504;
  display: none;
  position: fixed;
  top: 0;
}
#modal article {
  max-width: 250px;
  margin: auto;
  background-color: #f7f5e9a9;
  transition: 0.7s ease;
}

button,
.seeless {
  background-color: #3086f5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

footer p {
  color: #2564b8;
  line-height: 3.5;
}

address {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fadfab;
  padding: 30px;
}

/* media queries starter her-------------- */
@media (max-width: 1000px) {
  .toggle-btn {
    background: transparent;
    color: #3086f5;
    border: none;
    display: block;
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
    font-size: 2.5rem;
    margin: 0.5rem;
  }

  nav {
    display: none;
    border: none;
  }

  nav.shown {
    border-top: 1px solid #000;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
}
