img {
  width: 100%;
}
#logo_top {
  max-width: 90%;
}

#logo_top img {
  margin-left: 4rem;
  margin-top: 2rem;
  max-width: 80%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edead5;
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
  justify-content: space-evenly;
  gap: 5px;
}

main h1,
main section {
  grid-column: 2/3;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  margin: 1.5rem;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

nav ul button {
  font-family: "spectral", serif;
  background: transparent;
  font-weight: bold;
  border: none;
  display: block;
  min-width: 44px;
  min-height: 44px;
  cursor: pointer;
  font-size: 1.5rem;
  color: #2564b8;
  margin-right: 4rem;
}

.banner {
  /* padding: 0.5rem; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
}

.banner p {
  margin-left: 15px;
  margin-right: 15px;
}

a {
  color: #2564b8;
  text-decoration: none;
}

.banner ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

/* Burgermenu knappen skjules ved større skærm---- */

.toggle-btn {
  display: none;
}

h1 {
  font-family: "spectral", serif;
  text-align: center;
  font-size: 2.5rem;
  color: #2564b8;
}
h2 {
  font-family: "spectral", serif;
  font-size: 1.6rem;
  color: #a8c8da;
}
h3 {
  font-family: "Zen Kaku Gothic Antique", serif;
  font-size: 1.4rem;
  color: #a8c8da;
  line-height: 1.5;
}
p {
  font-family: "Zen Kaku Gothic Antique", serif;
  font-size: 1.125rem;
  color: #a8c8da;
  line-height: 1.5;
}

article {
  border: 2px solid #400d01;
  background-color: #400d01;
  padding: 1.5rem;
}

#modal {
  width: 100vw;
  height: 100vh;
  display: fixed;
  background-color: #2565b8c9;
  display: none;
  position: fixed;
  top: 0;
  overflow: scroll;
}
#modal article {
  max-width: 600px;
  margin: auto;
  background-color: #400d01;
  transition: 0.7s ease;
}

button,
.seeless {
  background-color: #2564b8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

/* footer starter her------------ */

footer p {
  color: #2564b8;
  line-height: 3.5;
}

address {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fadfab;
  padding: 30px;
}

/* media queries starter her-------------- */
@media (max-width: 1200px) {
  .toggle-btn {
    background: transparent;
    color: #2564b8;
    border: none;
    display: block;
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
    font-size: 2.5rem;
    margin: 0.5rem;
  }

  nav {
    display: none;
    /* border: none; */
  }

  nav.shown {
    border-top: none;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    height: 100vh;
  }

  .overflow {
    overflow: hidden;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }

  nav ul button p {
    font-size: 5rem;
  }
}
