img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header video {
  height: 50vh;
  width: 100%;
  object-fit: cover;
  padding: 1.2rem;
}

/* #logo_top {
  max-width: 90%;
} */

#logo_top img {
  margin-left: 4rem;
  /* margin-top: 2rem; */
  max-width: 90%;
}

.intro {
  color: #2564b8;
  text-align: center;
  margin-bottom: 2rem;
}

body {
  background-color: #f7f5ea;
}

hr {
  border: 0;
  border-top: 1px solid #2565b8c9;
  margin-left: 30rem;
  margin-right: 30rem;
}
.overflow {
  overflow: hidden;
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1300px) 1fr;
  justify-content: space-evenly;
  gap: 5px;
}

main h1,
main section {
  grid-column: 2/3;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

nav ul button {
  font-family: "spectral", serif;
  background: transparent;
  font-weight: bold;
  border: none;
  display: block;
  min-width: 44px;
  min-height: 44px;
  cursor: pointer;
  font-size: 1.5rem;
  color: #2564b8;
  margin-right: 3rem;
  padding: 15px 32px;
}

button:hover {
  color: #400d01;
}

.banner {
  /* padding: 0.5rem; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
}

/* .banner p {
  margin-left: 15px;
  margin-right: 15px;
} */

/* a {
  color: #2564b8;
  text-decoration: none;
} */

.banner ul {
  list-style: none;
  padding-top: 60px;
  display: flex;
  gap: 20px;
}

/* Burgermenu knappen skjules ved større skærm---- */

.toggle-btn {
  display: none;
}

/* styling af overskifter og brødtekst--- */

h1 {
  font-family: "spectral", serif;
  text-align: center;
  color: #2564b8;
  margin: 10px;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 0.9rem;
  line-height: 1.4;
}
p {
  font-size: 1.125rem;
  line-height: 1.4;
}
h2,
h3,
p {
  font-family: "Zen Kaku Gothic Antique", serif;
  color: #400d01;
  padding: 15px;
}

/* Billeder og tekst både forside og popup sat i grid-kolonner med article */

article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fcfbf0;
  gap: 10px;
}

article img {
  order: 2;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

/* modal starter her----------- */

#modal {
  width: 100vw;
  height: 100vh;
  display: fixed;
  background-color: #f7f5eaec;
  display: none;
  position: fixed;
  top: 0;
  overflow: scroll;
  padding-top: 5rem;
}

#modal article {
  max-width: 1000px;
  margin: auto;
  background-color: #fcfbf0;
  transition: 0.7s ease;
}

/* #modal {
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: #2565b8c9;
  display: none;
  position: fixed;
  top: 0;
  overflow: scroll;
}
#modal article {
  max-width: 80vw;
  margin: 4rem auto;
  background-color: #400d01;
  transition: 0.7s ease;
  display: grid;
  padding: 12px;
} */

/* Grid og styling for knapperne som er placeret i article */
.column {
  display: grid;
}

.seemore,
.seeless {
  background-color: #eeecdf;
  border: none;
  /* border: 1px solid black; */
  color: #400d01;
  width: fit-content;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 40px;
  cursor: pointer;
  margin: 15px;
  align-self: end;
}

/* footer starter her------------ */

footer p {
  color: #2564b8;
  line-height: 2.5;
  font-size: 1rem;
}

address {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fcfbf0;
  padding: 30px;
  margin-top: 20px;
}

/* media queries starter her-------------- */

/* Css for burgermenuen---- */

@media (max-width: 1200px) {
  .toggle-btn {
    background: transparent;
    color: #2564b8;
    border: none;
    display: grid;
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
    font-size: 2.5rem;
    margin: 1.5rem;
  }

  nav {
    display: none;
    /* border: none; */
  }

  nav.shown {
    border-top: none;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    height: 100vh;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }

  nav ul button p {
    font-size: 5rem;
  }
}

@media (min-width: 1200px) {
  section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
    margin: 1.5rem;
  }
}

/* Forum css*/

@font-face {
  font-family: MyFont;
  src: url(parchmentmf-vqge-webfont.woff2) format("woff");
}
.wrapper {
  display: grid;
  min-width: 100%;
}

.heading,
img {
  grid-area: 1/1;
}

.heading {
  place-self: center;
  font-family: MyFont;
  color: white;
  font-size: 5rem;
}
#email {
  width: 40%;
  height: 100%;
}
